body {
    background-color: 141414;
}

.second-msg {
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}

.first-msg {
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}
